<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myConceptosDePagoLabel" jhiTranslate="suneofinanzasApp.conceptosDePago.home.createOrEditLabel">Create or edit a Conceptos De Pago</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!conceptosDePago.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="conceptosDePago.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="suneofinanzasApp.conceptosDePago.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="conceptosDePago.name" required maxlength="300" />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 300 }">
                   This field cannot be longer than 300 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="suneofinanzasApp.conceptosDePago.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="conceptosDePago.description" maxlength="500" />
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 500 }">
                   This field cannot be longer than 500 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="suneofinanzasApp.conceptosDePago.creationDate" for="field_creationDate">Creation Date</label>
            <div class="input-group">
                <input id="field_creationDate" type="text" class="form-control" name="creationDate" ngbDatepicker  #creationDateDp="ngbDatepicker" [(ngModel)]="conceptosDePago.creationDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="creationDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="suneofinanzasApp.conceptosDePago.disabledDate" for="field_disabledDate">Disabled Date</label>
            <div class="input-group">
                <input id="field_disabledDate" type="text" class="form-control" name="disabledDate" ngbDatepicker  #disabledDateDp="ngbDatepicker" [(ngModel)]="conceptosDePago.disabledDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="disabledDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="suneofinanzasApp.conceptosDePago.taxpercentaje" for="field_taxpercentaje">Taxpercentaje</label>
            <input type="number" class="form-control" name="taxpercentaje" id="field_taxpercentaje"
                [(ngModel)]="conceptosDePago.taxpercentaje" required min="0" max="100" />
            <div [hidden]="!(editForm.controls.taxpercentaje?.dirty && editForm.controls.taxpercentaje?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.taxpercentaje?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.taxpercentaje?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.taxpercentaje?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 100 }">
                    This field cannot be more than 100.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.taxpercentaje?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="suneofinanzasApp.conceptosDePago.active" for="field_active">Active</label>
            <input type="checkbox" class="form-control" name="active" id="field_active"
                [(ngModel)]="conceptosDePago.active"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="suneofinanzasApp.conceptosDePago.lineaCapturaRequired" for="field_linea_captura_required">Genera Adeudo</label>
            <input type="checkbox" class="form-control" name="active" id="field_linea_captura_required"
                [(ngModel)]="conceptosDePago.lineaCapturaRequired"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
