
<div *ngIf="montos">
    <h2><span jhiTranslate="suneofinanzasApp.montos.detail.title">Montos</span> {{montos.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="suneofinanzasApp.montos.value">Amount</span></dt>
        <dd>
            <span>{{montos.value}}</span>
        </dd>
        <dt><span jhiTranslate="suneofinanzasApp.montos.startDate">Start Date</span></dt>
        <dd>
            <span>{{montos.startDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="suneofinanzasApp.montos.endDate">End Date</span></dt>
        <dd>
            <span>{{montos.endDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="suneofinanzasApp.montos.ciclo">Ciclo</span></dt>
        <dd>
            <span>{{montos.ciclo}}</span>
        </dd>
        <dt><span jhiTranslate="suneofinanzasApp.montos.active">Active</span></dt>
        <dd>
            <span>{{montos.active}}</span>
        </dd>
        <dt><span jhiTranslate="suneofinanzasApp.montos.tax">Tax</span></dt>
        <dd>
            <span>{{montos.tax}}</span>
        </dd>
        <dt><span jhiTranslate="suneofinanzasApp.montos.concepto">Concepto</span></dt>
        <dd>
            <div *ngIf="montos.concepto">
                <a [routerLink]="['/conceptos-de-pago-dxesoft', montos.concepto?.id]">{{montos.concepto?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'montos-dxesoft/'+ montos.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
